node_modules/
dist/
.angular/
proto-fn-service-frontend/.angular
proto-fn-service-frontend/node_modules
proto-fn-service-frontend/dist
proto-fn-service-frontend/.vscode
proto-fn-service-frontend/.env
proto-fn-service/node_modules
proto-fn-service/dist
proto-fn-service/.data
proto-fn-service/.nitro
proto-fn-service/.cache
proto-fn-service/.output
proto-fn-service/.env
proto-fn-service/.env.local
proto-fn-service/build
proto-fn-service/.c8y
proto-fn-service/*.zip
proto-fn-service-frontend/.env*
